.todo-list-container {
  display: inline-block;
  width: 100vw;
  height: 100vh;
}

.todo-list-content {
  padding: 16px;
  height: 100%;
}

.todo-item-form {
  display: grid;
  grid-template-columns: 1fr 0fr;
  align-items: center;
  width: 100%;
}


.todo-item-checkbox.completed {
  text-decoration: line-through;
}
