<div class="todo-list-container" *ngIf="todoList$ | async; let todoList">
  <div class="todo-list-content" [ngStyle]="{'background-color': todoList.color}">
    <h1>{{todoList.title}}</h1>
    <mat-list>
      <mat-list-item *ngIf="creatingNewItem">
        <form (ngSubmit)="onTodoItemAdded(todoItemForm)" #todoItemForm="ngForm" class="todo-item-form">
          <mat-form-field>
            <input matInput placeholder="Todo item" autocomplete="off" id="todoItemText" name="todoItemText" [(ngModel)]="todoItemText">
          </mat-form-field>
          <button mat-icon-button color="accent">
            <mat-icon aria-label="Add todo item icon button">add_circle</mat-icon>
          </button>
        </form>
      </mat-list-item>
      <br />
      <ng-template ngFor let-todoItem [ngForOf]="todoList.todoItems" [ngForTrackBy]="trackByTodoItems">
        <mat-list-item *ngIf="!todoItem.completed">
          <mat-checkbox class="todo-item-checkbox" (change)="todoItemUpdated(todoItem)" [(ngModel)]="todoItem.completed" [ngClass]="{ completed: todoItem.completed }">
            {{todoItem.text}}
          </mat-checkbox>
          <div class="fill-remaining-space"></div>
          <button mat-icon-button color="red" (click)="removeTodoItem(todoItem)">
            <mat-icon aria-label="Delete todo item icon button">clear</mat-icon>
          </button>
        </mat-list-item>
      </ng-template>

      <mat-divider></mat-divider>
      <h4 *ngIf="todoList.todoItems.length > 0">Completed:</h4>
      <ng-template ngFor let-todoItem [ngForOf]="todoList.todoItems" [ngForTrackBy]="trackByTodoItems">
        <mat-list-item *ngIf="todoItem.completed">
          <mat-checkbox class="todo-item-checkbox" (change)="todoItemUpdated(todoItem)" [(ngModel)]="todoItem.completed" [ngClass]="{ completed: todoItem.completed }">
            {{todoItem.text}}
          </mat-checkbox>
          <div class="fill-remaining-space"></div>
          <button mat-icon-button color="red" (click)="removeTodoItem(todoItem)">
            <mat-icon aria-label="Delete todo item icon button">clear</mat-icon>
          </button>
        </mat-list-item>
      </ng-template>
    </mat-list>
  </div>
</div>
