$mobile-s-width: 320px;
$mobile-m-width: 375px;
$mobile-l-width: 425px;
$tablet-width: 768px;
$laptop-s-width: 1024px;
$laptop-l-width: 1440px;
$big-screen-width: 2560px;

@mixin mobile-s {
  @media (min-width: #{$mobile-s-width}) {
      @content;
  }
}

@mixin mobile-m {
  @media (min-width: #{$mobile-m-width}) {
      @content;
  }
}

@mixin mobile-l {
  @media (min-width: #{$mobile-l-width}) {
      @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
      @content;
  }
}

@mixin laptop-s {
  @media (min-width: #{$laptop-s-width}) {
      @content;
  }
}

@mixin laptop-l {
  @media (min-width: #{$laptop-l-width}) {
      @content;
  }
}

@mixin big {
  @media (min-width: #{$big-screen-width}) {
      @content;
  }
}
