@import '~@angular/material/theming';
@include mat-core();

$todo-app-primary: mat-palette($mat-blue);
$todo-app-accent: mat-palette($mat-green, A200, A100, A400);

$todo-app-warn: mat-palette($mat-red);

$todo-app-theme: mat-light-theme($todo-app-primary, $todo-app-accent, $todo-app-warn);

@include angular-material-theme($todo-app-theme);
