<form #signUpForm="ngForm" (ngSubmit)="onSignUp()">
  <mat-card-subtitle>
    Sign up with your details
  </mat-card-subtitle>
  <mat-card-content>
    <mat-form-field class="example-full-width">
      <input matInput type="text" autofocus placeholder="Your name" name="name" required [(ngModel)]="user.name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput type="email" placeholder="Email" name="email" required [(ngModel)]="user.email">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput type="password" placeholder="Password" name="password" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput type="password" placeholder="Confirm Password" name="confirmedPassword" required [(ngModel)]="user.password">
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" [disabled]="!signUpForm.form.valid" type="submit">Sign up</button>
    <button mat-button color="primary" type="reset" (click)="cancelSignup()">Already have account</button>
  </mat-card-actions>
</form>
