<mat-toolbar color="primary">
  <button mat-icon-button *ngIf="showBackButton" (click)="goBack()">
    <mat-icon class="arrow-back-icon">arrow_back</mat-icon>
  </button>
  <span>Todo App</span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <button mat-icon-button *ngIf="authService.hasAuth()" [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>directions_run</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
<main>
  <router-outlet></router-outlet>
</main>
