<mat-card *ngFor="let todoList of todoLists | async">
  <mat-card-title>
    {{ todoList.title }}
  </mat-card-title>

  <app-todos [todoListId]="todoList._id"></app-todos>
</mat-card>


<mat-card>
  <mat-card-title>
    Image to-do list here with todo items
  </mat-card-title>

  <mat-card-actions>
    <button mat-button color="primary">Some action</button>
    <button mat-button color="warn">Another action</button>
  </mat-card-actions>
</mat-card>

<mat-card >
  <mat-card-title>
    Another one
  </mat-card-title>

  <mat-card-actions>
    <button mat-button color="primary">Some action</button>
    <button mat-button color="warn">Another action</button>
  </mat-card-actions>
</mat-card>
