<div *ngIf="todoLists | async; let todoLists; else loading">
  <div class="todo-lists-content" *ngIf="todoLists.length > 0; else noTodoLists">
    <mat-card
      class="todo-list-card"
      *ngFor="let todoList of todoLists"
      [ngStyle]="{ 'background-color': todoList.color}"
      (click)="showTodoList(todoList._id)">
      <mat-card-title>
        {{ todoList.title }}
      </mat-card-title>

      <button mat-icon-button color="warn" class="delete-todo-list-button" (click)="delete(todoList)">
        <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
      </button>
      <app-todo-items [todoListId]="todoList._id"></app-todo-items>
    </mat-card>
  </div>

  <ng-template #noTodoLists>
    <p class="mat-subheading-1">
      No Todo lists are left 🙁, go ahead and create one 👍
    </p>
  </ng-template>

</div>

<ng-template #loading>Loading Todo lists...</ng-template>


<div>
  <button (click)="createTodoList()" class="add-todo-button" mat-fab color="primary">
    <mat-icon aria-label="Add todo icon">add</mat-icon>
  </button>
</div>
