<md-card *ngFor="let todoList of todoLists | async">
  <md-card-title>
    {{ todoList.title }}
  </md-card-title>

  <app-todos [todoListId]="todoList._id"></app-todos>
</md-card>


<md-card>
  <md-card-title>
    Image to-do list here with todo items
  </md-card-title>

  <md-card-actions>
    <button md-button color="primary">Some action</button>
    <button md-button color="warn">Another action</button>
  </md-card-actions>
</md-card>

<md-card >
  <md-card-title>
    Another one
  </md-card-title>

  <md-card-actions>
    <button md-button color="primary">Some action</button>
    <button md-button color="warn">Another action</button>
  </md-card-actions>
</md-card>
